In [15]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [2]:
#load file and create df
prices_df = pd.read_csv('train_files/stock_prices.csv', low_memory=False)
prices_df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026

In [3]:
#review datatypes
prices_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332531 entries, 0 to 2332530
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   RowId             object
 1   Date              object
 2   SecuritiesCode    int64
 3   Open              float64
 4   High              float64
 5   Low               float64
 6   Close             float64
 7   Volume            int64
 8   AdjustmentFactor  float64
 9   ExpectedDividend  float64
 10  SupervisionFlag   bool
 11  Target            float64
dtypes: bool(1), float64(7), int64(2), object(2)
memory usage: 198.0+ MB

In [4]:
#confirm no missing data
prices_df.count()

RowId               2332531
Date                2332531
SecuritiesCode      2332531
Open                2324923
High                2324923
Low                 2324923
Close               2324923
Volume              2332531
AdjustmentFactor    2332531
ExpectedDividend      18865
SupervisionFlag     2332531
Target              2332293
dtype: int64

In [5]:
#isnull check
prices_df.isnull().sum()

RowId                     0
Date                      0
SecuritiesCode            0
Open                   7608
High                   7608
Low                    7608
Close                  7608
Volume                    0
AdjustmentFactor          0
ExpectedDividend    2313666
SupervisionFlag           0
Target                  238
dtype: int64

In [6]:
#perc missing
def perc_missing(df):
    for col in prices_df.columns:
        pct = prices_df[col].isna().mean()*100
        if (pct != 0):
            print('{} => {}%'.format(col, round(pct,2)))
            
perc_missing(prices_df)

Open => 0.33%
High => 0.33%
Low => 0.33%
Close => 0.33%
ExpectedDividend => 99.19%
Target => 0.01%

In [7]:
#remove ExpectedDividend col, columns that aren't important
prices_df.drop(columns=['ExpectedDividend', 'AdjustmentFactor'], axis=1, inplace=True)
prices_df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,False,0.003026

In [8]:
#remove rows with missing values 
prices_df.dropna(inplace=True)

In [9]:
#checking again - isnull check
prices_df.isnull().sum()

RowId              0
Date               0
SecuritiesCode     0
Open               0
High               0
Low                0
Close              0
Volume             0
SupervisionFlag    0
Target             0
dtype: int64

In [10]:
#export to csv file
prices_df.to_csv('prices_clean.csv', index = False)

In [13]:
#create db
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Toyko_SE"

In [16]:
#create db engine
engine = create_engine(db_string)

In [ ]:
#saving prices_df to sql table
prices_df.to_sql(name='stock_price', con=engine)