In [1]:
# Number of forecast days - should be set to 56 days for the Kaggle competition
# epochs should be set to 15 and input_parameters to 100 for an accurate but short run

forecast_days=56
epochs = 15
input_parameter=100

# Initial imports
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import math
import tensorflow as tf
import datetime as dt
from datetime import date,timedelta
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from numpy import array
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import psycopg2
from config import db_password
from config import user

In [2]:
# create lists of Japanese Stock Market Holidays (non-weekend)
Japan_Holidays_2019 = ['2019-01-01','2019-01-02','2019-01-03','2019-01-14','2019-02-11', '2019-03-21','2019-04-29','2019-05-03','2019-05-06','2019-07-15','2019-08-12','2019-09-16','2019-09-23', '2019-10-14','2019-11-04','2019-12-31']
Japan_Holidays_2020 = ['2020-01-01', '2020-01-02', '2020-01-03','2020-01-13','2020-02-11','2020-02-24','2020-03-20','2020-04-29','2020-05-04','2020-05-05','2020-05-06','2020-07-23','2020-07-24','2020-08-10','2020-09-21','2020-09-22','2020-11-03','2020-11-23','2020-12-31']
Japan_Holidays_2021 = ['2021-01-01','2021-01-11','2021-02-11','2021-02-23','2021-04-29','2021-05-03','2021-05-04','2021-05-05','2021-07-22','2021-07-23','2021-08-09','2021-09-20','2021-09-23','2021-11-03','2021-11-23','2021-12-31']
Japan_Holidays_2022 = ['2022-01-03','2022-01-10','2022-02-11','2022-02-23','2022-03-21','2022-04-29','2022-05-03','2022-05-04','2022-05-05','2022-07-18','2022-08-11','2022-09-19','2022-09-23','2022-10-10','2022-11-03','2022-11-23']
# concatenate lists
Japan_Holidays = Japan_Holidays_2019+Japan_Holidays_2020+Japan_Holidays_2021+Japan_Holidays_2022
# convert to actual dates 
Japan_Holidays_2019to2022= [dt.datetime.strptime(date, '%Y-%m-%d').date() for date in Japan_Holidays]

In [3]:
# create db connection
db_string = f'postgresql://{user}:{db_password}@tokyose.ctcjkv5b73cy.us-east-1.rds.amazonaws.com:5432/tokyo_se'
engine = create_engine(db_string)
print('Database Connected')

Database Connected

In [4]:
# read Tokyo stock prices and create a dataframe
query = 'SELECT * FROM prices_table'
stock_df = pd.read_sql(query,engine)
stock_df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,SupervisionFlag,Target
0,20190806_9434,2019-08-06,9434,1456.5,1487.0,1455.0,1479.5,25735000,False,0.011183
1,20190806_9435,2019-08-06,9435,23470.0,24360.0,23290.0,24240.0,117800,False,-0.018868
2,20190806_9436,2019-08-06,9436,3440.0,3475.0,3405.0,3450.0,20300,False,-0.002857
3,20190806_9438,2019-08-06,9438,740.0,746.0,727.0,744.0,80200,False,-0.002725
4,20190806_9441,2019-08-06,9441,4170.0,4240.0,4030.0,4235.0,3000,False,-0.009512

In [5]:
# see how much data there is
stock_df.shape

(2324923, 10)

In [6]:
# determine if there are any null values
stock_df[stock_df['Close'].isnull()].isnull().sum()

RowId              0.0
Date               0.0
SecuritiesCode     0.0
Open               0.0
High               0.0
Low                0.0
Close              0.0
Volume             0.0
SupervisionFlag    0.0
Target             0.0
dtype: float64

In [7]:
# create a new df which will only use the "Close" column for predictions
close_df=stock_df[['Date','SecuritiesCode','Close']]
close_df

               Date  SecuritiesCode    Close
0        2019-08-06            9434   1479.5
1        2019-08-06            9435  24240.0
2        2019-08-06            9436   3450.0
3        2019-08-06            9438    744.0
4        2019-08-06            9441   4235.0
...             ...             ...      ...
2324918  2019-08-06            9418    803.0
2324919  2019-08-06            9422   1370.0
2324920  2019-08-06            9424    219.0
2324921  2019-08-06            9432   4906.0
2324922  2019-08-06            9433   2677.5

[2324923 rows x 3 columns]

In [8]:
# sort dataframe by date
close_df.sort_values(by=['Date','SecuritiesCode'],inplace=True)
close_df.head()

C:\Users\erich\anaconda3\envs\mlenv\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

               Date  SecuritiesCode   Close
2287771  2017-01-04            1301  2742.0
2287772  2017-01-04            1332   571.0
2287773  2017-01-04            1333  3210.0
2287774  2017-01-04            1376  1550.0
2287775  2017-01-04            1377  3330.0

In [9]:
close_df.tail()

               Date  SecuritiesCode   Close
2239141  2021-12-03            9990   528.0
2239142  2021-12-03            9991   794.0
2239143  2021-12-03            9993  1645.0
2239144  2021-12-03            9994  2389.0
2239145  2021-12-03            9997   696.0

In [12]:
# create a list of all the securities
one_date_df=stock_df.loc[(stock_df['Date']=="2017-01-04"),['SecuritiesCode']]
securities=one_date_df['SecuritiesCode'].tolist()

# for testing can shorten the number of stocks to 10
#del securities[10:]
#securities=[2053,2613,7749,1835,6287]
print(securities)

[1301, 1332, 1333, 1376, 1377, 1379, 1381, 1407, 1414, 1417]

In [13]:
# convert an array of values into a dataset matrix
def create_dataset(dataset, time_step=1):
    dataX, dataY = [],[]
    for i in range(len(dataset)-time_step-1):
        a=dataset[i:(i+time_step),0]
        dataX.append(a)
        dataY.append(dataset[i+time_step,0])
    return np.array(dataX),np.array(dataY)

In [14]:
# Create the predictions for all stocks
stock_predictions={}
start_prices={}

for stock in securities:
    one_stock_df=close_df.loc[close_df['SecuritiesCode']==stock]
    one_stock_df=one_stock_df.dropna()
    one_stock_df.reset_index(drop=True, inplace=True)
    
    # get the last stock price
    start_price = one_stock_df["Close"].iloc[-1]
    start_prices[stock]=start_price
    
    # convert Date column to datetime 
    one_stock_df['Date'] = pd.to_datetime(one_stock_df['Date']).dt.date
    
    # only use the Close column for predicting
    one_stock_close_df=one_stock_df.reset_index()['Close']
    
    # remove previous model data
    tf.keras.backend.clear_session()
    
    ### LSTM is sensitive to the scale of the data - so we apply MinMax scaler
    scaler=MinMaxScaler(feature_range=(0,1))
    one_stock_scaler=scaler.fit_transform(np.array(one_stock_close_df).reshape(-1,1))
    
    # splitting the dataset into train and test splits
    training_size=int(len(one_stock_scaler)*0.65)
    test_size=len(one_stock_scaler)-training_size
    train_data,test_data=one_stock_scaler[0:training_size,:],one_stock_scaler[training_size:len(one_stock_scaler),:1]
    
    # reshape into X=t,t+1,t+2,t+3 and Y=t+4
    time_step = input_parameter
    X_train, y_train=create_dataset(train_data, time_step)
    X_test, y_test=create_dataset(test_data, time_step)
    
    # reshape input to be [samples, time steps, features] which is required for LSTM
    X_train=X_train.reshape(X_train.shape[0],X_train.shape[1],1)
    X_test=X_test.reshape(X_test.shape[0],X_test.shape[1],1)
   
    
    # Create the Stacked LSTM model
    model=Sequential()
    model.add(LSTM(int(input_parameter/2),return_sequences=True,input_shape=(input_parameter,1)))
    model.add(LSTM(int(input_parameter/2),return_sequences=True))
    model.add(LSTM(int(input_parameter/2)))
    model.add(Dense(1))
    model.compile(loss='mean_squared_error',optimizer='adam')

    # fit to the model
    model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=epochs,batch_size=64,verbose=1)
    
    # prediction and check performance metrics
    train_predict=model.predict(X_train)
    test_predict=model.predict(X_test)
    
    # transform back to original form
    train_predict=scaler.inverse_transform(train_predict)
    test_predict=scaler.inverse_transform(test_predict)
    
    # setup to predict future stock prices
    input_start=len(test_data)-input_parameter
    x_input=test_data[input_start:].reshape(1,-1)
    temp_input=list(x_input)
    temp_input=temp_input[0].tolist()
    
    # prediction for the number of forecast days 
    lst_output=[]
    n_steps=input_parameter
    i=0

    while(i<forecast_days):
            if(len(temp_input)>input_parameter):
                x_input=np.array(temp_input[1:])
                x_input=x_input.reshape(1,-1)
                x_input=x_input.reshape((1,n_steps,1))
                yhat=model.predict(x_input,verbose=0)
                temp_input.extend(yhat[0].tolist())
                temp_input=temp_input[1:]
                lst_output.extend(yhat.tolist())
                i=i+1
            else:
                x_input=x_input.reshape((1,n_steps,1))
                yhat=model.predict(x_input,verbose=0)
                temp_input.extend(yhat[0].tolist())
                lst_output.extend(yhat.tolist())
                i=i+1
            
    # add the stock id and predictions to a list
    predicted_scaler=scaler.inverse_transform(lst_output)
    predicted_values=predicted_scaler.tolist()
    stock_predictions[stock]=predicted_values
    print(f"Securities code: {stock} just finished.")    
    print("\n")

Epoch 1/15
11/11 [==============================] - 5s 182ms/step - loss: 0.0790 - val_loss: 0.0023
Epoch 2/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0122 - val_loss: 0.0039
Epoch 3/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0071 - val_loss: 9.5136e-04
Epoch 4/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0050 - val_loss: 0.0017
Epoch 5/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0040 - val_loss: 9.3329e-04
Epoch 6/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0035 - val_loss: 9.9918e-04
Epoch 7/15
11/11 [==============================] - 1s 95ms/step - loss: 0.0034 - val_loss: 9.2354e-04
Epoch 8/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0034 - val_loss: 8.9539e-04
Epoch 9/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0033 - val_loss: 9.2799e-04
Epoch 10/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0032 - val_loss: 8.8757e-04
Epoch 11/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0031 - val_loss: 8.4744e-04
Epoch 12/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0030 - val_loss: 8.9673e-04
Epoch 13/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0030 - val_loss: 8.1656e-04
Epoch 14/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0028 - val_loss: 8.4324e-04
Epoch 15/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0030 - val_loss: 0.0011
Securities code: 1301 just finished.


Epoch 1/15
11/11 [==============================] - 5s 159ms/step - loss: 0.0976 - val_loss: 0.0085
Epoch 2/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0124 - val_loss: 0.0135
Epoch 3/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0088 - val_loss: 0.0079
Epoch 4/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0074 - val_loss: 0.0101
Epoch 5/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0068 - val_loss: 0.0068
Epoch 6/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0060 - val_loss: 0.0050
Epoch 7/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0055 - val_loss: 0.0042
Epoch 8/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0051 - val_loss: 0.0035
Epoch 9/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0048 - val_loss: 0.0033
Epoch 10/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0050 - val_loss: 0.0032
Epoch 11/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0043 - val_loss: 0.0029
Epoch 12/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0041 - val_loss: 0.0026
Epoch 13/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0041 - val_loss: 0.0034
Epoch 14/15
11/11 [==============================] - 1s 99ms/step - loss: 0.0042 - val_loss: 0.0031
Epoch 15/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0036 - val_loss: 0.0026
Securities code: 1332 just finished.


Epoch 1/15
11/11 [==============================] - 5s 160ms/step - loss: 0.1112 - val_loss: 0.0087
Epoch 2/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0160 - val_loss: 0.0179
Epoch 3/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0096 - val_loss: 0.0063
Epoch 4/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0077 - val_loss: 0.0094
Epoch 5/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0054 - val_loss: 0.0042
Epoch 6/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0044 - val_loss: 0.0018
Epoch 7/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0037 - val_loss: 0.0013
Epoch 8/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0034 - val_loss: 0.0012
Epoch 9/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0034 - val_loss: 0.0013
Epoch 10/15
11/11 [==============================] - 1s 85ms/step - loss: 0.0033 - val_loss: 0.0012
Epoch 11/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0033 - val_loss: 0.0012
Epoch 12/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0031 - val_loss: 0.0012
Epoch 13/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0031 - val_loss: 0.0011
Epoch 14/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0030 - val_loss: 0.0011
Epoch 15/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0030 - val_loss: 0.0011
Securities code: 1333 just finished.


Epoch 1/15
11/11 [==============================] - 5s 157ms/step - loss: 0.1398 - val_loss: 0.0058
Epoch 2/15
11/11 [==============================] - 1s 85ms/step - loss: 0.0186 - val_loss: 0.0060
Epoch 3/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0125 - val_loss: 0.0090
Epoch 4/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0092 - val_loss: 0.0034
Epoch 5/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0073 - val_loss: 0.0030
Epoch 6/15
11/11 [==============================] - 1s 85ms/step - loss: 0.0062 - val_loss: 0.0032
Epoch 7/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0054 - val_loss: 0.0030
Epoch 8/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0050 - val_loss: 0.0029
Epoch 9/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0047 - val_loss: 0.0029
Epoch 10/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0047 - val_loss: 0.0033
Epoch 11/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0046 - val_loss: 0.0032
Epoch 12/15
11/11 [==============================] - 1s 85ms/step - loss: 0.0045 - val_loss: 0.0027
Epoch 13/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0045 - val_loss: 0.0030
Epoch 14/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0044 - val_loss: 0.0030
Epoch 15/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0040 - val_loss: 0.0028
Securities code: 1376 just finished.


Epoch 1/15
11/11 [==============================] - 5s 171ms/step - loss: 0.1016 - val_loss: 0.0106
Epoch 2/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0177 - val_loss: 0.0082
Epoch 3/15
11/11 [==============================] - 1s 95ms/step - loss: 0.0122 - val_loss: 0.0070
Epoch 4/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0094 - val_loss: 0.0049
Epoch 5/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0087 - val_loss: 0.0044
Epoch 6/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0082 - val_loss: 0.0040
Epoch 7/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0078 - val_loss: 0.0039
Epoch 8/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0074 - val_loss: 0.0036
Epoch 9/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0071 - val_loss: 0.0033
Epoch 10/15
11/11 [==============================] - 1s 98ms/step - loss: 0.0067 - val_loss: 0.0032
Epoch 11/15
11/11 [==============================] - 1s 90ms/step - loss: 0.0064 - val_loss: 0.0030
Epoch 12/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0063 - val_loss: 0.0027
Epoch 13/15
11/11 [==============================] - 1s 86ms/step - loss: 0.0059 - val_loss: 0.0026
Epoch 14/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0056 - val_loss: 0.0029
Epoch 15/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0056 - val_loss: 0.0027
Securities code: 1377 just finished.


Epoch 1/15
11/11 [==============================] - 5s 162ms/step - loss: 0.0732 - val_loss: 0.0087
Epoch 2/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0113 - val_loss: 0.0084
Epoch 3/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0067 - val_loss: 0.0192
Epoch 4/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0055 - val_loss: 0.0086
Epoch 5/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0049 - val_loss: 0.0126

Epoch 6/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0048 - val_loss: 0.0094
Epoch 7/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0046 - val_loss: 0.0075
Epoch 8/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0046 - val_loss: 0.0086
Epoch 9/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0044 - val_loss: 0.0069
Epoch 10/15
11/11 [==============================] - 1s 87ms/step - loss: 0.0044 - val_loss: 0.0057
Epoch 11/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0043 - val_loss: 0.0051
Epoch 12/15
11/11 [==============================] - 1s 89ms/step - loss: 0.0042 - val_loss: 0.0048
Epoch 13/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0041 - val_loss: 0.0041
Epoch 14/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0041 - val_loss: 0.0042
Epoch 15/15
11/11 [==============================] - 1s 88ms/step - loss: 0.0040 - val_loss: 0.0041
Securities code: 1379 just finished.


Epoch 1/15
11/11 [==============================] - 5s 163ms/step - loss: 0.0466 - val_loss: 7.2552e-04
Epoch 2/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0073 - val_loss: 0.0012
Epoch 3/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0038 - val_loss: 0.0014
Epoch 4/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0024 - val_loss: 7.6478e-04
Epoch 5/15
11/11 [==============================] - 1s 100ms/step - loss: 0.0023 - val_loss: 6.5634e-04
Epoch 6/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0021 - val_loss: 5.4077e-04
Epoch 7/15
11/11 [==============================] - 1s 94ms/step - loss: 0.0021 - val_loss: 5.3515e-04
Epoch 8/15
11/11 [==============================] - 1s 105ms/step - loss: 0.0020 - val_loss: 6.1300e-04
Epoch 9/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0019 - val_loss: 5.1528e-04
Epoch 10/15
11/11 [==============================] - 1s 95ms/step - loss: 0.0019 - val_loss: 5.5582e-04
Epoch 11/15
11/11 [==============================] - 1s 95ms/step - loss: 0.0020 - val_loss: 5.4924e-04
Epoch 12/15
11/11 [==============================] - 1s 97ms/step - loss: 0.0018 - val_loss: 5.2442e-04
Epoch 13/15
11/11 [==============================] - 1s 95ms/step - loss: 0.0017 - val_loss: 4.7621e-04
Epoch 14/15
11/11 [==============================] - 1s 97ms/step - loss: 0.0019 - val_loss: 4.8524e-04
Epoch 15/15
11/11 [==============================] - 1s 97ms/step - loss: 0.0017 - val_loss: 4.4029e-04
Securities code: 1381 just finished.


Epoch 1/15
11/11 [==============================] - 5s 162ms/step - loss: 0.0025 - val_loss: 0.0889
Epoch 2/15
11/11 [==============================] - 1s 88ms/step - loss: 5.5339e-04 - val_loss: 0.0066
Epoch 3/15
11/11 [==============================] - 1s 88ms/step - loss: 3.3880e-04 - val_loss: 0.0143
Epoch 4/15
11/11 [==============================] - 1s 89ms/step - loss: 2.7525e-04 - val_loss: 0.0071
Epoch 5/15
11/11 [==============================] - 1s 89ms/step - loss: 2.6454e-04 - val_loss: 0.0131
Epoch 6/15
11/11 [==============================] - 1s 89ms/step - loss: 2.6000e-04 - val_loss: 0.0094
Epoch 7/15
11/11 [==============================] - 1s 90ms/step - loss: 2.4049e-04 - val_loss: 0.0149
Epoch 8/15
11/11 [==============================] - 1s 90ms/step - loss: 2.5092e-04 - val_loss: 0.0098
Epoch 9/15
11/11 [==============================] - 1s 89ms/step - loss: 2.4672e-04 - val_loss: 0.0141
Epoch 10/15
11/11 [==============================] - 1s 92ms/step - loss: 2.3857e-04 - val_loss: 0.0170
Epoch 11/15
11/11 [==============================] - 1s 93ms/step - loss: 2.0878e-04 - val_loss: 0.0189
Epoch 12/15
11/11 [==============================] - 1s 88ms/step - loss: 1.9463e-04 - val_loss: 0.0234
Epoch 13/15
11/11 [==============================] - 1s 87ms/step - loss: 1.9573e-04 - val_loss: 0.0161
Epoch 14/15
11/11 [==============================] - 1s 88ms/step - loss: 1.8452e-04 - val_loss: 0.0225
Epoch 15/15
11/11 [==============================] - 1s 93ms/step - loss: 1.8307e-04 - val_loss: 0.0290
Securities code: 1407 just finished.


Epoch 1/15
11/11 [==============================] - 5s 186ms/step - loss: 0.1187 - val_loss: 0.0180
Epoch 2/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0216 - val_loss: 0.0116
Epoch 3/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0132 - val_loss: 0.0024
Epoch 4/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0099 - val_loss: 0.0028
Epoch 5/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0090 - val_loss: 7.0399e-04
Epoch 6/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0080 - val_loss: 8.3932e-04
Epoch 7/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0076 - val_loss: 6.7245e-04
Epoch 8/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0074 - val_loss: 8.1410e-04
Epoch 9/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0070 - val_loss: 8.3203e-04
Epoch 10/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0069 - val_loss: 6.9991e-04
Epoch 11/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0065 - val_loss: 5.7441e-04
Epoch 12/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0061 - val_loss: 5.6486e-04
Epoch 13/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0058 - val_loss: 5.4630e-04
Epoch 14/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0058 - val_loss: 6.3730e-04
Epoch 15/15
11/11 [==============================] - 1s 91ms/step - loss: 0.0054 - val_loss: 5.2622e-04
Securities code: 1414 just finished.


Epoch 1/15
11/11 [==============================] - 5s 166ms/step - loss: 0.0496 - val_loss: 0.0236
Epoch 2/15
11/11 [==============================] - 1s 94ms/step - loss: 0.0081 - val_loss: 0.0068
Epoch 3/15
11/11 [==============================] - 1s 110ms/step - loss: 0.0045 - val_loss: 0.0211
Epoch 4/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0037 - val_loss: 0.0078
Epoch 5/15
11/11 [==============================] - 1s 96ms/step - loss: 0.0030 - val_loss: 0.0116
Epoch 6/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0028 - val_loss: 0.0101
Epoch 7/15
11/11 [==============================] - 1s 92ms/step - loss: 0.0026 - val_loss: 0.0057
Epoch 8/15
11/11 [==============================] - 1s 93ms/step - loss: 0.0024 - val_loss: 0.0070
Epoch 9/15
11/11 [==============================] - 1s 98ms/step - loss: 0.0024 - val_loss: 0.0057
Epoch 10/15
11/11 [==============================] - 1s 104ms/step - loss: 0.0024 - val_loss: 0.0042
Epoch 11/15
11/11 [==============================] - 1s 98ms/step - loss: 0.0024 - val_loss: 0.0031
Epoch 12/15
11/11 [==============================] - 1s 96ms/step - loss: 0.0024 - val_loss: 0.0042
Epoch 13/15
11/11 [==============================] - 1s 106ms/step - loss: 0.0023 - val_loss: 0.0051
Epoch 14/15
11/11 [==============================] - 1s 101ms/step - loss: 0.0022 - val_loss: 0.0049
Epoch 15/15
11/11 [==============================] - 1s 95ms/step - loss: 0.0022 - val_loss: 0.0051
Securities code: 1417 just finished.

In [15]:
# calculate the daily percent change for all stocks for all forecast days and put into a series
stock_returns={}

for i in range(len(stock_predictions)):
    percent_returns=[]
    first_return=0
    first_return=(stock_predictions[securities[i]][0][0]-start_prices[securities[i]])/start_prices[securities[i]]
    percent_returns.append(first_return)
    for j in range(forecast_days):
        if j < forecast_days-1:
            next_return= (stock_predictions[securities[i]][j+1][0]-stock_predictions[securities[i]][j][0])/stock_predictions[securities[i]][j][0]
            percent_returns.append(next_return)       
    stock_returns[securities[i]]=percent_returns

In [16]:
# create a rankings_df with stock return rankings
total_days=len(one_stock_df)
new_date=one_stock_df['Date'][total_days-1]
column_names =  ['Date', 'SecuritiesCode', 'Rank']
rankings_df = pd.DataFrame(columns=column_names)

for i in range(forecast_days):
    new_date=pd.to_datetime(new_date+dt.timedelta(days=1))
    while new_date.weekday()==5 or new_date.weekday()==6 or new_date.date() in Japan_Holidays_2019to2022:
        new_date=pd.to_datetime(new_date+dt.timedelta(days=1))
        
    daily_percent_change=[]
    for j in range(len(stock_returns)):
        daily_percent_change.append(stock_returns[securities[j]][i])
    
    daily_percent_change_sr=pd.Series(daily_percent_change)
    daily_percent_change_sr.index=securities
    stock_rank = daily_percent_change_sr.rank(method='first',ascending=False)
    stock_rank=stock_rank.astype(int)    
    
    for j in range(len(stock_rank)):
        rankings_df.loc[j+i*len(stock_rank)] = [new_date.date(),securities[j], stock_rank[securities[j]]-1]

In [18]:
# check the rankings_df   
rankings_df.head(20)

          Date SecuritiesCode Rank
0   2021-12-06           1301    1
1   2021-12-06           1332    5
2   2021-12-06           1333    4
3   2021-12-06           1376    0
4   2021-12-06           1377    2
5   2021-12-06           1379    3
6   2021-12-06           1381    6
7   2021-12-06           1407    9
8   2021-12-06           1414    7
9   2021-12-06           1417    8
10  2021-12-07           1301    3
11  2021-12-07           1332    6
12  2021-12-07           1333    7
13  2021-12-07           1376    8
14  2021-12-07           1377    5
15  2021-12-07           1379    2
16  2021-12-07           1381    0
17  2021-12-07           1407    9
18  2021-12-07           1414    1
19  2021-12-07           1417    4

In [19]:
# write rankings_df to a csv file
filepath="rankings.csv"
rankings_df.to_csv(filepath,index=False)

In [20]:
# create a new df with predictions
total_days=len(one_stock_df)
new_date=one_stock_df['Date'][total_days-1]
column_names =  ['Date', 'SecuritiesCode', 'Close']
predictions_df = pd.DataFrame(columns=column_names)


for i in range(forecast_days):
    new_date=pd.to_datetime(new_date+dt.timedelta(days=1))
    while new_date.weekday()==5 or new_date.weekday()==6 or new_date.date() in Japan_Holidays_2019to2022:
        new_date=pd.to_datetime(new_date+dt.timedelta(days=1))
        
    for j in range(len(stock_predictions)):
        predictions_df.loc[j+i*len(stock_predictions)] = [new_date.date(),securities[j], stock_predictions[securities[j]][i][0]]

In [21]:
predictions_df.head(50)

          Date SecuritiesCode        Close
0   2021-12-06           1301  3059.836663
1   2021-12-06           1332   586.007706
2   2021-12-06           1333  2372.605690
3   2021-12-06           1376  1395.364076
4   2021-12-06           1377  3248.052385
5   2021-12-06           1379  1908.523633
6   2021-12-06           1381  3178.598546
7   2021-12-06           1407  4560.152786
8   2021-12-06           1414  5045.700214
9   2021-12-06           1417  1961.286115
10  2021-12-07           1301  3049.593506
11  2021-12-07           1332   583.438688
12  2021-12-07           1333  2361.788521
13  2021-12-07           1376  1387.697271
14  2021-12-07           1377  3233.967929
15  2021-12-07           1379  1904.596512
16  2021-12-07           1381  3175.683618
17  2021-12-07           1407  4505.137192
18  2021-12-07           1414  5040.414512
19  2021-12-07           1417  1952.951328
20  2021-12-08           1301  3042.093722
21  2021-12-08           1332   581.600168
22  2021-12-08           1333  2353.167703
23  2021-12-08           1376  1380.906396
24  2021-12-08           1377  3223.251177
25  2021-12-08           1379  1901.711968
26  2021-12-08           1381  3173.359376
27  2021-12-08           1407  4416.593898
28  2021-12-08           1414  5036.072056
29  2021-12-08           1417  1945.216729
30  2021-12-09           1301  3037.429383
31  2021-12-09           1332   580.412971
32  2021-12-09           1333  2346.592166
33  2021-12-09           1376  1375.145182
34  2021-12-09           1377  3215.826710
35  2021-12-09           1379  1899.775805
36  2021-12-09           1381  3171.564556
37  2021-12-09           1407  4299.016079
38  2021-12-09           1414  5032.956848
39  2021-12-09           1417  1937.997150
40  2021-12-10           1301  3035.329821
41  2021-12-10           1332   579.764372
42  2021-12-10           1333  2341.772038
43  2021-12-10           1376  1370.390579
44  2021-12-10           1377  3211.304014
45  2021-12-10           1379  1898.619461
46  2021-12-10           1381  3170.214604
47  2021-12-10           1407  4159.252484
48  2021-12-10           1414  5031.070540
49  2021-12-10           1417  1931.206277

In [22]:
# write close price predictions_df to a csv file
filepath="predictions.csv"
predictions_df.to_csv(filepath,index=False)