In [1]:
# Initial imports
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import math
import datetime as dt
from datetime import date,timedelta
from numpy import array

In [2]:
# Load the rankings file
file="rankings2000s.56d.15e.100ip.csv"
rankings_df=pd.read_csv(file)
rankings_df.head()

         Date  SecuritiesCode  Rank
0  2021-12-06            1301  1145
1  2021-12-06            1332  1371
2  2021-12-06            1333  1137
3  2021-12-06            1376   340
4  2021-12-06            1377   732

In [3]:
# create a list of all the securities
one_date_df=rankings_df.loc[(rankings_df['Date']==rankings_df['Date'][0]),['SecuritiesCode']]
securities=one_date_df['SecuritiesCode'].tolist()

In [4]:
# calculate the average rank of each stock and get the top 20

#make a dictionary of stocks and their average rank
average_rank={}
for stock in securities:
    one_stock_rank_df=rankings_df.loc[rankings_df['SecuritiesCode']==stock]
    ave_rank=one_stock_rank_df['Rank'].mean()
    average_rank[stock]=ave_rank

# sort the average rank dictionary
sorted_average_rank=sorted(average_rank.items(), key=lambda x: x[1])

# keep the top 20
top_20_tuple=sorted_average_rank[:20]
top_20_tuple

[(5992, 18.375),
 (6279, 19.071428571428573),
 (8715, 20.107142857142858),
 (7203, 22.428571428571427),
 (4781, 22.517857142857142),
 (9470, 23.767857142857142),
 (3107, 24.642857142857142),
 (2471, 26.178571428571427),
 (9090, 26.285714285714285),
 (4587, 29.125),
 (6444, 29.232142857142858),
 (8066, 30.160714285714285),
 (4612, 31.178571428571427),
 (7814, 33.392857142857146),
 (3433, 34.517857142857146),
 (7749, 35.67857142857143),
 (4767, 37.589285714285715),
 (9719, 44.535714285714285),
 (6306, 47.30357142857143),
 (3341, 48.5)]

In [5]:
# create a top 20 list and write to a text file
top_20=[]
for i in range(len(top_20_tuple)):
    top_20.append(top_20_tuple[i][0])
textfile = open("top20_stackedlstm.txt", "w")
for stock in top_20:
    textfile.write(str(stock) + "\n")
textfile.close()

In [6]:
# create a top 40 list and write to a text file
# keep the top 40
top_40_tuple=sorted_average_rank[:40]
top_40_tuple
top_40=[]
for i in range(len(top_40_tuple)):
    top_40.append(top_40_tuple[i][0])
textfile = open("top40_stackedlstm.txt", "w")
for stock in top_40:
    textfile.write(str(stock) + "\n")
textfile.close()
top_40

[5992,
 6279,
 8715,
 7203,
 4781,
 9470,
 3107,
 2471,
 9090,
 4587,
 6444,
 8066,
 4612,
 7814,
 3433,
 7749,
 4767,
 9719,
 6306,
 3341,
 2613,
 7192,
 7820,
 7003,
 3835,
 3176,
 4526,
 8174,
 8344,
 4348,
 2726,
 6762,
 4027,
 9308,
 6794,
 1939,
 8530,
 6197,
 1821,
 1815]