In [26]:
#dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [9]:
#load file and create df
financials_df = pd.read_csv('train_files/financials.csv', low_memory=False)
financials_df.head()

,disclosurenumber,datecode,date,securitiescode,discloseddate,disclosedtime,disclosedunixtime,typeofdocument,currentperiodenddate,typeofcurrentperiod,...,forecastearningspershare,applyingofspecificaccountingofthequarterlyfinancialstatements,materialchangesinsubsidiaries,changesbasedonrevisionsofaccountingstandard,changesotherthanonesbasedonrevisionsofaccountingstandard,changesinaccountingestimates,retrospectiverestatement,numberofissuedandoutstandingsharesattheendoffiscalyearincluding,numberoftreasurystockattheendoffiscalyear,averagenumberofshares
0,2.021120e+13,20211203_1383,2021-12-03,1383.0,2021-12-03,15:30:00,1.638513e+09,ForecastRevision,2021-10-31,FY,...,96.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.021120e+13,20211203_2929,2021-12-03,2929.0,2021-12-03,15:00:00,1.638511e+09,1QFinancialStatements_Consolidated_JP,2021-10-31,1Q,...,138.36,NaN,False,True,False,False,False,29063100.0,108300.0,29005705.0
2,2.021120e+13,20211203_9627,2021-12-03,9627.0,2021-12-03,15:30:00,1.638513e+09,2QFinancialStatements_Consolidated_JP,2021-10-31,2Q,...,234.28,NaN,False,True,False,False,False,35428212.0,200911.0,35260638.0
3,2.021120e+13,20211203_3657,2021-12-03,3657.0,2021-12-03,15:30:00,1.638513e+09,3QFinancialStatements_Consolidated_JP,2021-10-31,3Q,...,56.53,NaN,False,False,False,False,False,38156000.0,270702.0,37886118.0
4,2.021120e+13,20211203_6969,2021-12-03,6969.0,2021-12-03,15:00:00,1.638511e+09,ForecastRevision,2022-03-31,FY,...,-147.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#review datatypes
financials_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92954 entries, 0 to 92953
Data columns (total 45 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   disclosurenumber                                                 92954 non-null  float64
 1   datecode                                                         92954 non-null  object
 2   date                                                             92954 non-null  object
 3   securitiescode                                                   92954 non-null  float64
 4   discloseddate                                                    92954 non-null  object
 5   disclosedtime                                                    92954 non-null  object
 6   disclosedunixtime                                                92954 non-null  float64
 7   typeofdocument                                                   92954 non-null  object
 8   currentperiodenddate                                             92954 non-null  object
 9   typeofcurrentperiod                                              92954 non-null  object
 10  currentfiscalyearstartdate                                       92954 non-null  object
 11  currentfiscalyearenddate                                         92954 non-null  object
 12  netsales                                                         75448 non-null  float64
 13  operatingprofit                                                  73446 non-null  float64
 14  ordinaryprofit                                                   75328 non-null  float64
 15  profit                                                           75380 non-null  float64
 16  earningspershare                                                 74958 non-null  float64
 17  totalassets                                                      75433 non-null  float64
 18  equity                                                           75431 non-null  float64
 19  equitytoassetratio                                               74739 non-null  float64
 20  bookvaluepershare                                                35773 non-null  float64
 21  resultdividendpershare1stquarter                                 74379 non-null  float64
 22  resultdividendpershare2ndquarter                                 55940 non-null  float64
 23  resultdividendpershare3rdquarter                                 37677 non-null  float64
 24  resultdividendpersharefiscalyearend                              19416 non-null  float64
 25  resultdividendpershareannual                                     19415 non-null  float64
 26  forecastdividendpershare1stquarter                               19241 non-null  float64
 27  forecastdividendpershare2ndquarter                               42619 non-null  float64
 28  forecastdividendpershare3rdquarter                               60807 non-null  float64
 29  forecastdividendpersharefiscalyearend                            79021 non-null  float64
 30  forecastdividendpershareannual                                   79022 non-null  float64
 31  forecastnetsales                                                 82842 non-null  float64
 32  forecastoperatingprofit                                          81083 non-null  float64
 33  forecastordinaryprofit                                           82718 non-null  float64
 34  forecastprofit                                                   83856 non-null  float64
 35  forecastearningspershare                                         82842 non-null  float64
 36  applyingofspecificaccountingofthequarterlyfinancialstatements    7249 non-null   object
 37  materialchangesinsubsidiaries                                    64504 non-null  object
 38  changesbasedonrevisionsofaccountingstandard                      74895 non-null  object
 39  changesotherthanonesbasedonrevisionsofaccountingstandard         74895 non-null  object
 40  changesinaccountingestimates                                     74126 non-null  object
 41  retrospectiverestatement                                         70396 non-null  object
 42  numberofissuedandoutstandingsharesattheendoffiscalyearincluding  74918 non-null  float64
 43  numberoftreasurystockattheendoffiscalyear                        74918 non-null  float64
 44  averagenumberofshares                                            74349 non-null  float64
dtypes: float64(30), object(15)
memory usage: 31.9+ MB

In [11]:
#isnull check
financials_df.isnull().sum()

disclosurenumber                                                       0
datecode                                                               0
date                                                                   0
securitiescode                                                         0
discloseddate                                                          0
disclosedtime                                                          0
disclosedunixtime                                                      0
typeofdocument                                                         0
currentperiodenddate                                                   0
typeofcurrentperiod                                                    0
currentfiscalyearstartdate                                             0
currentfiscalyearenddate                                               0
netsales                                                           17506
operatingprofit                                                    19508
ordinaryprofit                                                     17626
profit                                                             17574
earningspershare                                                   17996
totalassets                                                        17521
equity                                                             17523
equitytoassetratio                                                 18215
bookvaluepershare                                                  57181
resultdividendpershare1stquarter                                   18575
resultdividendpershare2ndquarter                                   37014
resultdividendpershare3rdquarter                                   55277
resultdividendpersharefiscalyearend                                73538
resultdividendpershareannual                                       73539
forecastdividendpershare1stquarter                                 73713
forecastdividendpershare2ndquarter                                 50335
forecastdividendpershare3rdquarter                                 32147
forecastdividendpersharefiscalyearend                              13933
forecastdividendpershareannual                                     13932
forecastnetsales                                                   10112
forecastoperatingprofit                                            11871
forecastordinaryprofit                                             10236
forecastprofit                                                      9098
forecastearningspershare                                           10112
applyingofspecificaccountingofthequarterlyfinancialstatements      85705
materialchangesinsubsidiaries                                      28450
changesbasedonrevisionsofaccountingstandard                        18059
changesotherthanonesbasedonrevisionsofaccountingstandard           18059
changesinaccountingestimates                                       18828
retrospectiverestatement                                           22558
numberofissuedandoutstandingsharesattheendoffiscalyearincluding    18036
numberoftreasurystockattheendoffiscalyear                          18036
averagenumberofshares                                              18605
dtype: int64

In [12]:
#perc missing
def perc_missing(df):
    for col in financials_df.columns:
        pct = financials_df[col].isna().mean()*100
        if (pct != 0):
            print('{} => {}%'.format(col, round(pct,2)))
            
perc_missing(financials_df)

netsales => 18.83%
operatingprofit => 20.99%
ordinaryprofit => 18.96%
profit => 18.91%
earningspershare => 19.36%
totalassets => 18.85%
equity => 18.85%
equitytoassetratio => 19.6%
bookvaluepershare => 61.52%
resultdividendpershare1stquarter => 19.98%
resultdividendpershare2ndquarter => 39.82%
resultdividendpershare3rdquarter => 59.47%
resultdividendpersharefiscalyearend => 79.11%
resultdividendpershareannual => 79.11%
forecastdividendpershare1stquarter => 79.3%
forecastdividendpershare2ndquarter => 54.15%
forecastdividendpershare3rdquarter => 34.58%
forecastdividendpersharefiscalyearend => 14.99%
forecastdividendpershareannual => 14.99%
forecastnetsales => 10.88%
forecastoperatingprofit => 12.77%
forecastordinaryprofit => 11.01%
forecastprofit => 9.79%
forecastearningspershare => 10.88%
applyingofspecificaccountingofthequarterlyfinancialstatements => 92.2%
materialchangesinsubsidiaries => 30.61%
changesbasedonrevisionsofaccountingstandard => 19.43%
changesotherthanonesbasedonrevisionsofaccountingstandard => 19.43%
changesinaccountingestimates => 20.26%
retrospectiverestatement => 24.27%
numberofissuedandoutstandingsharesattheendoffiscalyearincluding => 19.4%
numberoftreasurystockattheendoffiscalyear => 19.4%
averagenumberofshares => 20.02%

In [19]:
#dropping cols with > 50% null values and other irrelevent cols

#financials_df.drop(columns=['datecode','discloseddate','disclosedtime','disclosedunixtime','typeofdocument','currentperiodenddate','typeofcurrentperiod','currentfiscalyearstartdate','currentfiscalyearenddate','operatingprofit','ordinaryprofit','profit','totalassets'], inplace=True )
#financials_df.drop(columns=['equitytoassetratio','bookvaluepershare','resultdividendpershare1stquarter','resultdividendpershare2ndquarter','resultdividendpershare3rdquarter','resultdividendpersharefiscalyearend','resultdividendpershareannual','forecastdividendpershare1stquarter'], inplace=True)
#financials_df.drop(columns=['forecastdividendpershare2ndquarter','forecastdividendpershare3rdquarter','forecastdividendpersharefiscalyearend','forecastdividendpershareannual','forecastnetsales','forecastoperatingprofit','forecastordinaryprofit','forecastprofit','applyingofspecificaccountingofthequarterlyfinancialstatements'], inplace=True)
financials_df.drop(columns=['changesbasedonrevisionsofaccountingstandard','changesotherthanonesbasedonrevisionsofaccountingstandard','changesinaccountingestimates','retrospectiverestatement','numberofissuedandoutstandingsharesattheendoffiscalyearincluding','numberoftreasurystockattheendoffiscalyear','averagenumberofshares'], inplace=True)

In [20]:
financials_df.head()

,disclosurenumber,date,securitiescode,netsales,earningspershare,equity,forecastearningspershare,materialchangesinsubsidiaries
0,2.021120e+13,2021-12-03,1383.0,NaN,NaN,NaN,96.20,NaN
1,2.021120e+13,2021-12-03,2929.0,1.260600e+10,42.45,8.788000e+09,138.36,False
2,2.021120e+13,2021-12-03,9627.0,1.529720e+11,94.68,1.158100e+11,234.28,False
3,2.021120e+13,2021-12-03,3657.0,2.433400e+10,42.87,1.706500e+10,56.53,False
4,2.021120e+13,2021-12-03,6969.0,NaN,NaN,NaN,-147.87,NaN

In [39]:
#remove NaN values
financials_df.dropna(inplace=True)

In [40]:
#round off decimals on securities code
#financials_df['securitiescode'] = financials_df['securitiescode'].astype(np.int64)
#financials_df['disclosurenumber'] = financials_df['disclosurenumber'].astype(np.int64)
financials_df['netsales'] = financials_df['netsales'].astype(np.int64)
financials_df['equity'] = financials_df['equity'].astype(np.int64)

In [41]:
#reconfirm values
financials_df.head()

,disclosurenumber,date,securitiescode,netsales,earningspershare,equity,forecastearningspershare,materialchangesinsubsidiaries
1,20211203446434,2021-12-03,2929,12606000000,42.45,8788000000,138.36,False
2,20211203446277,2021-12-03,9627,152972000000,94.68,115810000000,234.28,False
3,20211203446219,2021-12-03,3657,24334000000,42.87,17065000000,56.53,False
5,20211202446055,2021-12-03,2353,6286000000,2.82,10198000000,8.91,False
6,20211202446017,2021-12-03,6898,1293000000,184.73,3284000000,142.01,False

In [42]:
#export to csv file
financials_df.to_csv('financials_clean.csv', index = False)

In [32]:
#create db
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Tokyo_SE"

In [33]:
#create db engine
engine = create_engine(db_string)

In [ ]:
#saving prices_df to sql table
financials_df.to_sql(name='financials', con=engine)