In [19]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
from prophet import Prophet
from matplotlib import pyplot as plt
from prophet.plot import plot_plotly, plot_components_plotly
import plotly.express as px
from neuralprophet import NeuralProphet
from neuralprophet import NeuralProphet, set_log_level
set_log_level("ERROR")
import time
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import psycopg2

from config import db_password
from config import user

In [2]:
# create db connection
db_string = f'postgresql://{user}:{db_password}@tokyose.ctcjkv5b73cy.us-east-1.rds.amazonaws.com:5432/tokyo_se'
engine = create_engine(db_string)
print('Database Connected')

Database Connected

In [9]:
# read price df
query = 'SELECT * FROM prices_table'
df = pd.read_sql(query,engine)
df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,SupervisionFlag,Target
0,20211021_8699,2021-10-21,8699,1033.0,1065.0,1033.0,1045.0,220500,False,-0.022663
1,20211021_8706,2021-10-21,8706,795.0,799.0,788.0,788.0,36100,False,-0.008883
2,20211021_8707,2021-10-21,8707,1409.0,1411.0,1396.0,1400.0,48500,False,-0.028139
3,20211021_8708,2021-10-21,8708,1093.0,1110.0,1080.0,1080.0,54700,False,0.011101
4,20211021_8713,2021-10-21,8713,1220.0,1240.0,1218.0,1227.0,49200,False,-0.020559

In [10]:
# read top 20 stocks
file = 'neural_prophet_top_ranked.csv'
top_ranked = pd.read_csv(file)
top_ranked

    SecuritiesCode  first_20_True
0             6861         1567.0
1             9983         1521.0
2             6273         1478.0
3             7974         1461.0
4             6146         1435.0
5             8035         1405.0
6             9435         1397.0
7             7309         1384.0
8             3349         1377.0
9             6954         1336.0
10            9022         1325.0
11            4628         1312.0
12            9843         1307.0
13            6367         1170.0
14            7453          950.0
15            4922          925.0
16            9605          872.0
17            1878          860.0
18            4684          741.0
19            7717          733.0

In [11]:
df_clean = df.drop(columns=['RowId','SupervisionFlag','Target'], axis=1)
df_clean.head()

         Date  SecuritiesCode    Open    High     Low   Close  Volume
0  2021-10-21            8699  1033.0  1065.0  1033.0  1045.0  220500
1  2021-10-21            8706   795.0   799.0   788.0   788.0   36100
2  2021-10-21            8707  1409.0  1411.0  1396.0  1400.0   48500
3  2021-10-21            8708  1093.0  1110.0  1080.0  1080.0   54700
4  2021-10-21            8713  1220.0  1240.0  1218.0  1227.0   49200

In [12]:
df_close = df_clean.drop(columns=['Open','High','Low','Volume'],axis=1)
df_close.head()

         Date  SecuritiesCode   Close
0  2021-10-21            8699  1045.0
1  2021-10-21            8706   788.0
2  2021-10-21            8707  1400.0
3  2021-10-21            8708  1080.0
4  2021-10-21            8713  1227.0

In [13]:
df_grouped = df_clean.groupby(['SecuritiesCode','Date'])['Close'].sum()

In [14]:
# split securities codes from df into iterable list
df_grouped = df_grouped.to_frame().reset_index()
itemlist = top_ranked.SecuritiesCode.unique()

In [20]:
# create df to store forecasts
forecast_all = pd.DataFrame()

In [21]:
count=0
for i in itemlist:
    temp = df_grouped[df_grouped.SecuritiesCode == i]
    temp = temp.drop(columns=['SecuritiesCode'])
    temp['Date'] = pd.to_datetime(temp['Date'])
    temp = temp.set_index('Date')
    d_df = temp.resample('D').sum()
    d_df = d_df.reset_index().dropna()
    d_df.columns = ['ds','y']
  
    m = NeuralProphet(
        n_changepoints=10,
        changepoints_range=0.8,
#         yearly_seasonality=True,
#         weekly_seasonality=True,
#         num_hidden_layers=50,
        epochs=50,
        learning_rate=1.0,
    )
  
    metrics = m.fit(d_df, freq="D")
    
    future = m.make_future_dataframe(d_df, periods=56, n_historic_predictions=False)
    forecast = m.predict(future)
    forecast['SecuritiesCode'] = i
    forecast_all = pd.concat((forecast_all, forecast))
   
    count +=1
    print(f'Securities Code: {i}, Loop Iteration: {count}')

Securities Code: 6861, Loop Iteration: 1

Securities Code: 9983, Loop Iteration: 2

Securities Code: 6273, Loop Iteration: 3

Securities Code: 7974, Loop Iteration: 4

Securities Code: 6146, Loop Iteration: 5

Securities Code: 8035, Loop Iteration: 6

Securities Code: 9435, Loop Iteration: 7

Securities Code: 7309, Loop Iteration: 8

Securities Code: 3349, Loop Iteration: 9

Securities Code: 6954, Loop Iteration: 10

Securities Code: 9022, Loop Iteration: 11

Securities Code: 4628, Loop Iteration: 12

Securities Code: 9843, Loop Iteration: 13

Securities Code: 6367, Loop Iteration: 14

Securities Code: 7453, Loop Iteration: 15

Securities Code: 4922, Loop Iteration: 16

Securities Code: 9605, Loop Iteration: 17

Securities Code: 1878, Loop Iteration: 18

Securities Code: 4684, Loop Iteration: 19

Securities Code: 7717, Loop Iteration: 20

In [22]:
forecast_all.tail()

,ds,y,yhat1,residual1,trend,season_yearly,season_weekly,SecuritiesCode
51,2022-01-24,None,5890.838379,NaN,3563.460693,251.598557,2075.779053,7717
52,2022-01-25,None,6734.192383,NaN,3563.364258,332.518555,2838.309326,7717
53,2022-01-26,None,6881.709961,NaN,3563.268555,410.311035,2908.130371,7717
54,2022-01-27,None,6711.365723,NaN,3563.172852,484.604919,2663.588135,7717
55,2022-01-28,None,6973.466797,NaN,3563.076416,555.067139,2855.322998,7717

In [26]:
df_clean = forecast_all.loc[:, ~forecast_all.columns.str.startswith('residual')]
df_clean = df_clean.loc[:, ~df_clean.columns.str.startswith('ar')]
df_clean = df_clean.loc[:, ~df_clean.columns.str.startswith('season')]
df_clean = df_clean.loc[:, ~df_clean.columns.str.startswith('trend')]
df_clean = df_clean.loc[:, ~df_clean.columns.str.startswith('event')]
df_clean.head()

          ds     y         yhat1  SecuritiesCode
0 2021-12-04  None   7981.987793            6861
1 2021-12-05  None   8607.469727            6861
2 2021-12-06  None  56649.480469            6861
3 2021-12-07  None  60723.593750            6861
4 2021-12-08  None  61081.914062            6861

In [31]:
# getting close prices for all SecuritiesCodes
close_prices = df_clean[['SecuritiesCode','ds','yhat1']]
close_prices['Close'] = close_prices['yhat1']
close_prices['Date'] = close_prices['ds']
close_prices = close_prices.drop(columns=['yhat1','ds'],axis=1)
prices_target = close_prices.pivot_table(index='Date', columns='SecuritiesCode', values='Close')
prices_target.tail()

SecuritiesCode,1878,3349,4628,4684,4922,6146,6273,6367,6861,6954,7309,7453,7717,7974,8035,9022,9435,9605,9843,9983
Date,,,,,,,,,,,,,,,,,,,,
2022-01-24,12156.273438,14856.519531,24192.677734,18131.884766,14501.410156,31144.488281,61257.085938,21393.343750,57815.226562,24662.568359,26215.796875,3735.243408,5890.838379,50625.597656,48806.285156,15480.389648,15835.916992,18831.156250,16617.759766,76161.578125
2022-01-25,13433.545898,16636.759766,25854.460938,18928.039062,15691.155273,33234.519531,65450.605469,22712.767578,62383.839844,26302.333984,27810.574219,5610.837891,6734.192383,53903.265625,50806.507812,17561.349609,17303.869141,20387.849609,17962.761719,81179.687500
2022-01-26,13740.936523,17037.162109,28888.726562,19187.845703,16077.312500,33359.605469,65986.570312,23132.634766,63220.773438,26750.156250,28228.189453,5519.676758,6881.709961,54680.207031,51548.480469,17727.695312,17877.201172,20704.923828,18358.525391,82444.046875
2022-01-27,13727.444336,16909.328125,23670.082031,18829.519531,15811.394531,33339.050781,65666.523438,22481.408203,62184.050781,26415.582031,27797.882812,5327.591797,6711.365723,54426.242188,50538.835938,17458.113281,17397.962891,20379.789062,17942.513672,81064.390625
2022-01-28,13968.041992,17086.388672,26005.714844,19379.750000,16165.645508,33571.007812,66676.382812,23085.414062,64078.976562,26988.923828,28354.357422,5576.647949,6973.466797,55101.363281,51410.855469,17888.300781,17873.238281,20951.363281,18524.716797,82747.250000

In [32]:
prices_target.head()

SecuritiesCode,1878,3349,4628,4684,4922,6146,6273,6367,6861,6954,7309,7453,7717,7974,8035,9022,9435,9605,9843,9983
Date,,,,,,,,,,,,,,,,,,,,
2021-12-04,231.381058,-1460.807983,2643.141846,5677.620605,234.451965,8061.929199,17367.376953,7120.998535,7981.987793,3925.074707,8674.472656,-7665.674316,-3241.140869,8432.199219,21646.886719,-894.898743,-218.362640,6113.632812,2005.267334,19228.449219
2021-12-05,174.393494,-1476.863403,2412.323242,5219.478027,357.764862,7742.025391,17572.244141,6873.720215,8607.469727,3982.501221,8893.585938,-7987.930664,-3360.136475,8256.692383,21181.566406,-986.675476,-223.236435,6050.826660,2002.450928,18227.601562
2021-12-06,12068.106445,16099.980469,25707.091797,18254.089844,14226.187500,29115.019531,61239.554688,21366.945312,56649.480469,23459.771484,26288.195312,3609.041016,5364.777832,48660.300781,45551.773438,15212.301758,17391.656250,18446.898438,17421.140625,73068.890625
2021-12-07,13215.966797,17666.671875,26930.628906,18904.390625,15282.142578,30758.447266,64928.335938,22558.197266,60723.593750,24893.816406,27712.720703,5362.629395,6069.501953,51633.324219,47302.906250,17099.597656,18678.158203,19857.052734,18639.986328,77798.039062
2021-12-08,13392.353516,17851.916016,29526.498047,19019.388672,15532.941406,30440.410156,64956.289062,22849.964844,61081.914062,25135.371094,27958.541016,5148.887695,6079.092773,52103.125000,47802.710938,17072.349609,19065.992188,20025.464844,18907.791016,78762.179688

In [33]:
predictions = prices_target.to_csv('neural_prophet_predicitions.csv')

In [34]:
predictions